<div id="main-nav">
    <nav>
        <ul>
        	<li>
        		{% if site.blog_index_asides.size %}
					{% include_array blog_index_asides %}
				{% else %}
					{% include_array default_asides %}
				{% endif %}
        	</li>
        	<li>
        		<ul>
                    <li>Projects - <a href="http://www.ethansteiner.com" target="_blank">ethansteiner.com</a>
        			<li>Github - <a href="http://www.github.com/alexharris" target="_blank">https://github.com/espa77</a></li>
                    <li>Email - <a href="mailto:ethansteiner@gmail.com" target="_blank">ethansteiner at gmail</a></li>
        		</ul>
        	</li>
        </ul>
    </nav>
</div>
